
<!--"2023 Nexus Registration" Footer-->
<footer>&copy; 2023 Nexus Registration</footer>
<!--<a href="https://docs.google.com/document/d/1FZNTQBBv-yDhw46aJ8RLzbXwA3N2_QCG/edit?usp=sharing&ouid=105693244975551814640&rtpof=true&sd=true" style="float: left; position: relative; left: 50%;"> Help</a> -->
<a href="./UserManuals.pdf" target="_blank" style="float: left; position: relative; left: 50%;"> Help</a>
