
<!--"2023 Nexus Registration" Footer-->
<footer>&copy; 2023 Nexus Registration</footer>
<!-- <a href="./UserManuals.pdf" style="float: left; position: relative; left: 50%;"> Help</a> -->
<!-- the file link in the above line of code is not working-->