<!-- Main Admin Layout-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Default Layout Page
    </title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <!------ MATERIAL CDN ------>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!------ STYLESHEET ------>
    <link rel="stylesheet" scr="/css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

</head>

<body>
    <div class="wrapper">

        <!--Body-->
        <%- body %>

    </div>

    <!--Footer-->
    <%- include('../partials/footer.ejs')%>
</body>

</html>