<header>
    <div class="fixed-header">
        <nav>
            <a class="logo" href="/teacher/dashboard">
                <img src = "/imgs/nexuslogo.png" alt="" height="40" width="40">
            </a>
            <a href="/teacher/classes">My Classes</a>
            <a href="/teacher/students">My Students</a>
            <a href="/teacher/search">Search</a>
            <!--a href="/teacher/UserManuals.pdf" download= "UserManuals" style = "float: right;">Help</a>-->
            <!--<a href="/teacher/help" style = "float: right;">Help</a>-->
            <a href="/login" style = "float: right;">Log Out</a>
            <!--<a href="/teacher/calendar">Calendar</a>-->
        </nav>
    </div>
</header>