<header>
    <div class="fixed-header">
        <nav>
            <a class="logo" href="/teacher/dashboard">
                <img src = "/imgs/nexuslogo.png" alt="" height="40" width="40">
            </a>
<<<<<<< HEAD
          </div>
          <ul class="nav navbar-nav">

            <!--<li class="active"><a href="#">Home</a></li>-->
            <!--<li><a href="/admin/create-user">Add User</a></li>-->
            <!--<li><a href="/admin/create-class">Add Class</a></li>-->
            <li><a href="/teacher/students">Students</a></li>
            <li><a href="/teacher/classes">Classes</a></li>
            <li><a href="/teacher/calendar">Calendar</a></li>
            <li><a href="/login">Logout</a></li>
          </ul>
        </div>
      </nav>
=======
            <a href="/teacher/students">My Classes</a>
            <a href="/teacher/search">Search</a>
            <a href="/teacher/calendar">Calendar</a>
        </nav>
    </div>
>>>>>>> 41c41de288f8f7d93c2751b2ca86a15656a65bef
</header>