<header>
    <div class="fixed-header">
        <nav>
            <a class="logo" href="/student/dashboard">
                <img src = "/imgs/nexuslogo.png" alt="" height="40" width="40">
            </a>
            <a href="/student/classes">My Classes</a>
            <a href="/student/search">Search</a>
            <a href="/student/calendar">Schedule</a>
            <!--<a href="/student/UserManuals.pdf" download= "UserManuals" style = "float: right;">Help</a>-->
            <!--<a href="/student/help" style = "float: right;">Help</a>-->
            <a href="/login" style = "float: right;">Log Out</a>
            <!--<a href="/student/registration">Calendar</a>-->
        </nav>
    </div>

</header>