<header>
    <div class="fixed-header">
        <nav>
            <a class="logo" href="/admin/dashboard">
                <img src = "/imgs/nexuslogo.png" alt="" height="40" width="40">
            </a>
            <!--<a href="/admin/users">Users</a>-->
            <a href="/admin/classes">Class Search</a>
            <!--<a href="/admin/calendar">Calendar</a>-->
            <a href="/admin/audit">Audit Info</a>
            <a href="/login" style = "float: right;">Log Out</a>
            <!--<a href="/admin/UserManuals.pdf" download= "UserManuals" style = "float: right;">Help</a>-->
            <!--<a href="/admin/help" style = "float: right;"><Help>/a>--> 
            
        </nav>
    </div>
</header>