<header>
    <div class="fixed-header">
        <nav>
            <a class="logo" href="/student/dashboard">
                <img src = "/imgs/nexuslogo.png" alt="" height="40" width="40">
            </a>
<<<<<<< HEAD
          </div>
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
            <!--<li><a href="/admin/create-user">Add User</a></li>-->
            <!--<li><a href="/admin/create-class">Add Class</a></li>-->
            <li><a href="/student/classes">My Classes</a></li>
            <li><a href="/student/search">Search</a></li>
            <li><a href="/student/registration">Registration</a></li>
            <li><a href="/login">Logout</a></li>
          </ul>
        </div>
      </nav>
=======
            <a href="/student/classes">My Classes</a>
            <a href="/student/search">Search</a>
            <a href="/student/registration">Calendar</a>
        </nav>
    </div>
>>>>>>> 41c41de288f8f7d93c2751b2ca86a15656a65bef
</header>