<!DOCTYPE html>
<html>
    <head>
        <!--Scripts-->
	    <head>
            <!--Header-->
            <%- include('../partials/headers/header-teacher.ejs')%>
        
             <link rel="stylesheet" href="/css/style.css">
        </head>

        <!--Stylesheets-->
       <!-- <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />-->
        
        </head>
    <body>
        <h1> Help</h1>

    </body>
</html>

<!-- <% if (userRole === 'student') { %>
    <%- include('partials/headers/header-student.ejs') %>
    <script type="text/javascript" src="/public/javascripts/student-class-registration.js"></script>
<% } else if (userRole === 'admin') { %>
    <%- include('partials/headers/header-admin.ejs') %>
    <script type="text/javascript" src="/public/javascripts/admin-class-edit-redirect.js"></script>
<% } else if (userRole === 'teacher') { %>
    <%- include('partials/headers/header-teacher.ejs') %>
<% } %>-->